<section>
  <div class="card">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex justify-content-between">
        <h5 class="my-auto">Product</h5>
        <button pButton pRipple type="submit" [loading]="submitted" [disabled]="!form?.valid || !productImages?.length || submitted"
          label="{{isNew ? 'Create' : 'Update'}}"></button>
      </div>
      <p-divider></p-divider>
      <div class="col-12">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12">
            <label for="image" class="block font-medium pb-2 mb-2 required">Product Image</label>
            <uikit-image (onChange)="onImageSelectionChange($event)" maxLimit="4"></uikit-image>
          </div>
          <div class="field col-12 md:col-6">
            <label for="name" class="block font-medium pb-2 required">Name</label>
            <input id="name" type="text" placeholder="Name" pInputText formControlName="name">
            <uikit-error [controls]="controls" [submitted]="submitted" name="name" placehoher="name"></uikit-error>
          </div>
          <div class="field col-12 md:col-6">
            <label for="country" class="block font-medium pb-2 required">Country Of Origin</label>
            <p-dropdown [options]="originCountry" optionLabel="name" optionValue="id"
              placeholder="Choose Origin Country" [showClear]="true" formControlName="origin_country_id">
            </p-dropdown>
            <uikit-error [controls]="controls" [submitted]="submitted" name="origin_country_id"
              placehoher="origin_country"></uikit-error>
          </div>
          <div class="field col-12 md:col-6">
            <label for="category" class="block font-medium pb-2 required">Category</label>
            <p-dropdown [options]="categories" optionLabel="category" optionValue="id" placeholder="Choose Category"
              [showClear]="true" (onChange)="handleCategoryChange(true)" formControlName="category_id">
            </p-dropdown>
            <!-- <uikit-dropdown formControlName="category_id" [config]="categoryFieldConfig"></uikit-dropdown>
            <small class="p-error" *ngIf="(controls.category_id.touched || submitted) && controls.category_id.errors?.required">
              Enter stock</small> -->
            <uikit-error [controls]="controls" [submitted]="submitted" name="category_id" placehoher="category">
            </uikit-error>
          </div>
          <div class="field col-12 md:col-6">
            <label for="sub_category" class="block font-medium pb-2 required">Sub-Category</label>
            <p-dropdown [options]="subCategories" optionLabel="name" optionValue="id" [showClear]="true"
              placeholder="Choose Sub-Category" formControlName="sub_category_id"></p-dropdown>
            <uikit-error [controls]="controls" [submitted]="submitted" name="sub_category_id" placehoher="sub_category">
            </uikit-error>
          </div>
          <div class="field col-12 md:col-6">
            <label for="brand" class="block font-medium pb-2 required">Brand</label>
            <p-dropdown [options]="brands" optionLabel="name" optionValue="id" [showClear]="true"
              placeholder="Choose Brand" formControlName="brand_id"></p-dropdown>
            <uikit-error [controls]="controls" [submitted]="submitted" name="brand_id" placehoher="brand">
            </uikit-error>
          </div>
          <div class="field col-12 md:col-6">
            <label for="unit" class="block font-medium pb-2 required">Unit</label>
            <p-dropdown [options]="units" optionLabel="unit" optionValue="id" [showClear]="true"
              placeholder="Choose Unit" formControlName="unit_id"></p-dropdown>
            <uikit-error [controls]="controls" [submitted]="submitted" name="unit_id" placehoher="unit">
            </uikit-error>
          </div>
          <div class="field col-12 md:col-6">
            <label for="code" class="block font-medium pb-2 required">Code</label>
            <p-inputNumber inputId="inputnumber" placeholder="enter code" formControlName="code"></p-inputNumber>
            <uikit-error [controls]="controls" [submitted]="submitted" name="code" placehoher="code"></uikit-error>
          </div>
          <div class="field col-12 md:col-6">
            <label for="variant" class="block font-medium pb-2">Variant</label>
            <p-inputNumber inputId="variant" placeholder="0" formControlName="variant"></p-inputNumber>
            <uikit-error [controls]="controls" [submitted]="submitted" name="variant" placehoher="variant">
            </uikit-error>
          </div>
          <div class="field col-12 md:col-6">
            <label for="stock" class="block font-medium pb-2">Stock</label>
            <p-inputNumber inputId="stock" placeholder="0" formControlName="stock"></p-inputNumber>
            <uikit-error [controls]="controls" [submitted]="submitted" name="stock" placehoher="stock"></uikit-error>
          </div>
          <div class="field col-12 md:col-6">
            <label for="price_per_unit" class="block font-medium pb-2 required">Price(Per Unit)</label>
            <p-inputNumber inputId="price_per_unit" placeholder="INR 0" mode="currency" currency="INR"
              currencyDisplay="code" formControlName="price_per_unit"></p-inputNumber>
            <uikit-error [controls]="controls" [submitted]="submitted" name="price_per_unit"
              placehoher="price_per_unit"></uikit-error>
          </div>
        </div>
        <div class="p-fluid p-formgrid">
          <div class="flex mb-3">
            <p-checkbox id="price_difference" (onChange)="onDifferentPrice({}, form)" formControlName="price_difference"
              [binary]="true" styleClass="mr-2"></p-checkbox>
            <label for="price_difference" class="mb-0">Different price for different warehouse</label>
          </div>
          <div *ngIf="priceDifference" class="p-fluid p-formgrid grid field">
            <div class="field col-12 md:col-6">
              <label for="warehouse" class="block font-medium pb-2 required">Warehouse</label>
              <p-dropdown [options]="warehouses" optionLabel="name" optionValue="id" placeholder="Choose warehouse"
                [showClear]="true" formControlName="price_difference_with_warehouse">
              </p-dropdown>
              <uikit-error [controls]="controls" [submitted]="submitted" name="price_difference_with_warehouse" placehoher="warehouse">
              </uikit-error>
            </div>
            <div class="field col-12 md:col-6">
              <label for="different_price" class="block font-medium pb-2 required">Price(Per Unit)</label>
              <p-inputNumber inputId="different_price" placeholder="INR 0" mode="currency" currency="INR"
                currencyDisplay="code" formControlName="different_price"></p-inputNumber>
            </div>
          </div>
        </div>
        <div class="p-fluid p-formgrid field">
          <div class="field flex">
            <p-checkbox id="date_expired" [binary]="true" styleClass="mr-2" formControlName="date_expired"></p-checkbox>
            <label for="date_expired" class="mb-0">This product has date expired</label>
          </div>
          <div class="field flex">
            <p-checkbox id="promotional_sale" [binary]="true" styleClass="mr-2" formControlName="promotional_sale">
            </p-checkbox>
            <label for="promotional_sale" class="mb-0">Add Promotional Sale</label>
          </div>
          <div class="field flex">
            <p-checkbox id="multi_variant" [binary]="true" styleClass="mr-2" formControlName="multi_variant">
            </p-checkbox>
            <label for="multi_variant" class="mb-0">This product has multi variant</label>
          </div>
          <div class="field flex">
            <p-checkbox id="imei_code" [binary]="true" styleClass="mr-2" formControlName="imei_code"></p-checkbox>
            <label for="imei_code" class="mb-0">This product has IMEI Code</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>