<div class="col-12">
  <div class="p-fluid p-formgrid grid">
    <div class="field col-12 flex justify-content-center my-5">
        <img src="../../../../../../../assets/images/logo/hss_logo.png" alt="logo" width="50px"/><span class="flex align-items-end font-bold">WIMS</span>
    </div>
    <div class="field col-12 md:flex bg-color">
      <div class="md:col-6 flex justify-content-between">
        <span>Date :</span><span>Reference :</span>
      </div>
      <div class="md:col-6 flex justify-content-between">
      <span>Warehouse : </span><span>Sale Status : </span>
      </div>
    </div>
  </div>
  <invoice-summary></invoice-summary>
  <div class="field col-12 flex justify-content-end">
    <button pButton pRipple type="button" label="E-Mail" class="p-button-outlined mr-3"></button>
    <button pButton pRipple type="submit" label="Print"></button>
  </div>
</div>
