<section>
  <div class="surface-0 flex flex-column align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="text-center mt-0 mb-7 md:hidden">
      <a class="hwims-logo cursor-pointer" (click)="routeService.navigateWithPreserve('')">
        <h3>Users</h3>
      </a>
    </div>
    <div class="flex justify-content-center md:m-auto" style="min-height: 550px">
      <div class="border-round-3xl  col-12 m-0 shadow relative" style="min-width:375px">
        <div class="flex justify-content-end">
          <button pButton pRipple label="Demo Data" class="p-button-rounded blink absolute"
           (click)="showDemoData()"></button>
        </div>
        <div class="vmx-8 md:pt-8">
          <h2>Sign In</h2>
          <p-tabView>
            <p-tabPanel header="Username">
              <form class="form" [formGroup]="passwordForm" (ngSubmit)="loginByPassword()" novalidate>
                <div class="vpy-4">
                  <div class="vpb-4">
                    <multi-input label="Username" [mode]="multiInputAllMode" [disabled]="isVerifingOTP"
                      formControlName="username"></multi-input>
                    <uikit-error [controls]="controls" [submitted]="submitted" name="username" placehoher="username"></uikit-error>
                  </div>
                  <div class="vpb-4">
                    <label for="otp" class="block font-medium vpb-2">Password</label>
                    <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                      <p-password [toggleMask]="true" formControlName="password" placeholder="password"
                           styleClass="w-full p-input-icon-right" inputStyleClass="w-full border-noround p-input-icon-right">
                      </p-password>
                    </div>
                    <uikit-error [controls]="controls" [submitted]="submitted" name="password" placeholder="password"></uikit-error>
                  </div>
                  <button pButton pRipple label="Sign In" class="w-full p-button-rounded vmt-3"
                    [loading]="submitted" [disabled]="!passwordForm.valid"
                    type="submit"></button>
                </div>
              </form>
            </p-tabPanel>
          </p-tabView>
        </div>
        <div id="recaptcha-container" class="vpb-4"> </div>
      </div>
    </div>
  </div>
</section>