.headings-text {
  font-family: 'Obviously-Wide';
  color: var(--banner-text-a);
}

.social-links {
  a {
    color: #fff !important;
  }
}

ul {
  li {
    a {
      color: #fff;
    }
  }
}

:host::ng-deep {
  .p-divider {
    margin: 0.50rem !important;
  }
}