<div class="surface-0 overflow-hidden">
  <section>
    <div class="flex justify-content-center md:px-6 px-3 banner-surface-a py-6">
      <div class="md:w-7 text-center">
        <div class="md:mb-6">
          <h1 class="headings-text">Inventory management software designed for Indian businesses
          </h1>
          <h1 class="pg-text">Manage orders. Track inventory. Handle GST billing. Oversee
            warehouses.
            One inventory management software to run all your inventory operations.
          </h1>
          <div class="text-center my-5">
            <button pButton pRipple type="button" label="Start Your Free Trial" (click)="showContactUsForm()"
              class="p-button p-button-xl p-button-rounded border-none md:mr-4 mr-0 mb-3 md:mb-0"></button>
            <button pButton pRipple type="button" label="Explore Demo Account"
              (click)="routeService.navigateWithPreserve('auth/signin')"
              class="p-button p-button-outlined p-button-xl p-button-rounded border-none"></button>
          </div>
        </div>
        <div class="-mb-8">
          <img src="../../../../../assets/demo/images/Capture.JPG 1.JPG" class="w-full h-full" alt="">
        </div>
      </div>
    </div>
    <div class="banner-surface-c py-6">
      <div class="col-12 flex p-0">
        <div class="col-12 md:col-7 md:flex m-auto px-3">
          <div class="md:col-5 col-12">
            <h2 class="font-bold md:mb-0">Download our mobile app for free</h2>
          </div>
          <div class="md:col-7 col-12 flex justify-content-center md:justify-content-end">
            <img src="../../../../../assets/demo/images/appstore.png" class="w-5 mr-4 my-auto" alt="">
            <img src="../../../../../assets/demo/images/playstore.png" class="w-5 my-auto" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-6">
    <div class="container-xl md:px-6 px-3">
      <div class="flex justify-content-center">
        <div class="md:w-7 text-center">
          <h1 class="headings-text">From MSMEs to large-scale corporations, Wims Inventory supports all
            businesses
          </h1>
        </div>
      </div>
      <div class="col-12 md:flex block justify-content-center md:p-2 p-0">
        <div class="card md:col-5 col-12 md:mr-3 mr-0">
          <div class="justify-content-between mb-3">
            <div class="flex">
              <div class="border-round">
                <i class="pi pi-building" style="font-size: 3rem"></i>
              </div>
              <div class="ml-4">
                <h3> Order management</h3>
              </div>
            </div>
            <div class="pl-7 text-base md:text-xl">
              <p class="mt-0">
                Handle all your sales and purchases activities, manage invoices and bills, and track
                payments. Hsiwm Inventory also helps you monitor packages and shipments to keep your
                deliveries on time.
                Learn More
              </p>
            </div>
          </div>
        </div>
        <div class="card md:col-5 col-12 md:ml-3 ml-0">
          <div class="justify-content-between mb-3">
            <div class="flex">
              <div class="border-round">
                <i class="pi pi-building" style="font-size: 3rem"></i>
              </div>
              <div class="ml-4">
                <h3>Warehouse management</h3>
              </div>
            </div>
            <div class="pl-7 text-base md:text-xl">
              <p class="mt-0">
                You can control your stock in different warehouses or godowns centrally from Hsiwm
                Inventory. Track item movements,
                transfer items within warehouses, and generate warehouse-specific reports.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:flex block justify-content-center md:p-2 p-0">
        <div class="card md:col-5 col-12 md:mr-3 mr-0">
          <div class="justify-content-between mb-3">
            <div class="flex">
              <div class="border-round">
                <i class="pi pi-building" style="font-size: 3rem"></i>
              </div>
              <div class="ml-4">
                <h3> Barcode scanning</h3>
              </div>
            </div>
            <div class="pl-7 text-base md:text-xl">
              <p class="mt-0">
                Hsiwm Inventory is compatible with different types of barcode scanners which makes it
                easy to set up a barcode system and add SKUs,
                serial and batch numbers, and items to sales and purchase orders.
              </p>
            </div>
          </div>
        </div>
        <div class="card md:col-5 col-12 md:ml-3 ml-0">
          <div class="justify-content-between mb-3">
            <div class="flex">
              <div class="border-round">
                <i class="pi pi-chart-line" style="font-size: 3rem"></i>
              </div>
              <div class="ml-4">
                <h3>Integrations</h3>
              </div>
            </div>
            <div class="pl-7 text-base md:text-xl">
              <p class="mt-0">
                Sell on Shopify or Etsy, integrate with Hsiwm CRM and Hsiwm Books, and receive payment
                online via PayPal or Razorpay—there is a wide range of integrations to support your
                business.
                Learn More
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:flex block justify-content-center md:p-2 p-0">
        <div class="card md:col-5 col-12 md:mr-3 mr-0 md:mb-0">
          <div class="justify-content-between mb-3">
            <div class="flex">
              <div class="border-round">
                <i class="pi pi-map-marker" style="font-size: 3rem"></i>
              </div>
              <div class="ml-4">
                <h3>Inventory tracking</h3>
              </div>
            </div>
            <div class="pl-7 text-base md:text-xl">
              <p class="mt-0">
                You can keep track of spare parts, saleable items, and even expiry dates with the serial
                and batch tracking feature of Hsiwm Inventory.
                Learn More
              </p>
            </div>
          </div>
        </div>
        <div class="card md:col-5 col-12 md:ml-3 ml-0 mb-0">
          <div class="justify-content-between mb-3">
            <div class="flex">
              <div class="border-round">
                <i class="pi pi-chart-bar" style="font-size: 3rem"></i>
              </div>
              <div class="ml-4">
                <h3>Reports</h3>
              </div>
            </div>
            <div class="pl-7 text-base md:text-xl">
              <p class="mt-0">
                Know your inventory aging, vendor payments, sales details and inventory valuation from a
                range of reports which can be generated, downloaded and shared easily.
                Learn More
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-6 banner-surface-c">
    <div class="flex justify-content-center container-xl md:px-6 px-3">
      <div class="md:w-7">
        <div class="text-center">
          <h1 class="headings-text">Warehouse Management System</h1>
        </div>
        <h1 class="pg-text">A warehouse management system is more than the tracking of the inventory
          and checking stock levels in a warehouse. A warehouse management software takes care of the
          end-to-end solution
          of warehousing making it more efficient and smooth functioning.
          Vinculum offers unified, mobile-native, and cloud-based supply chain warehousing,
          supply chain execution, and warehouse shipping solutions supporting basic to fully automated or
          large-scale Warehouse operations.</h1>

        <h1 class="pg-text">It is one of the few vendors to address omnichannel commerce and
          fulfillment
          on a single platform, with strong offerings in logistics (Warehouse Management System),
          Distributed Order Management, store operations, and high-volume and high-velocity eCommerce
          fulfillment.
        </h1>
        <h1 class="pg-text">Taking warehousing to another level, Its android Mobile-ready Operations
          enables the users to perform paperless inbound, outbound, and inventory operations
          such as receiving, quality check put-away, order picking, batch picking, manifest, cycle count,
          inventory management, and return inventory management.</h1>

        <div>
          <h2>
            The Solution Supporting Various Use Cases:
          </h2>
          <ul class="list-none p-0 m-0 flex flex-column">
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Sell Anywhere and Buy Anywhere </span>
            </li>
            <li class="py-2 flex">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <div class="line-height-3 flex my-auto">Manage Complete B2B and B2C Warehousing for Brands &
                Retailers</div>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Omnichannel Enablement</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Manage Full Marketplace Stock</span>
            </li>
            <li class="pt-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Service Transactions</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="py-6 banner-surface-a">
    <div class="md:flex justify-content-between md:px-6 px-3 container-xl">
      <div class="md:w-5 md:p-4 md:pr-3 m-auto md:mr-0">
        <div>
          <h1 class="headings-text">Sales & Purchase</h1>
          <h1 class="pg-text">Manage sales and purchase orders, create invoices, and E-way bills
            from a single order management system.</h1>
          <ul class="list-none p-0 m-0 flex flex-column">
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Order Confirmation </span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Purchase Order</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Inward/GRN Register</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Credit/Debit Note</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Service Transactions</span>
            </li>
            <li class="pt-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Sales Order<br></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="md:w-6 p-4 pb-0">
        <img src="../../../../../assets/demo/images/inventory 2.webp.png" class="sm:mt-5 md:mt-0 w-full" alt="">
      </div>
    </div>
  </section>
  <section class="py-6">
    <div class="md:flex justify-content-between md:px-6 px-3 container-xl">
      <div class="md:w-6 p-4 pt-0">
        <img src="../../../../../assets/demo/images/inventory.webp.png" class="sm:mt-5 md:mt-0 w-full" alt="">
      </div>
      <div class="md:w-5 md:p-4 md:pr-3 m-auto md:mr-0">
        <div>
          <h1 class="headings-text">Inventory Management</h1>
          <h1 class="pg-text">Our Inventory Management Software is designed to streamline your
            processes and increase profits.</h1>
          <ul class="my-5 list-none p-0 m-0 flex flex-column">
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Min/Max Stock Levels</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Multiple Stores</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Inventory Valuation</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Inventory Rejected/Dead Stock</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Auto Stock Adjustment</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Barcode Tracking<br></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="py-6 banner-surface-c">
    <div class="md:px-6 container-xl">
      <div class="text-center block">
        <h1 class="headings-text w-7 m-auto">
          Still doing your Inventory Management on Excel?
        </h1>
        <div class="text-center my-5 ">
          <button pButton pRipple type="button" label="SIGN UP FOR FREE TODAY"
            (click)="routeService.navigateWithPreserve('auth/signin')"
            class="p-button p-button-xl p-button-rounded border-none md:mr-4 mr-0 mb-3 md:mb-0"></button>
        </div>
      </div>
      <div class="flex justify-content-between px-6">
        <div class="col-4 flex justify-content-center">
          <i class="pi pi-chart-line" style="font-size: 2rem"></i>
          <p class="text-base md:text-xl ml-3">
            Data Security
          </p>
        </div>
        <div class="col-4 flex justify-content-center">
          <i class="pi pi-clock" style="font-size: 2rem"></i>
          <p class="text-base md:text-xl ml-3">
            99.9% uptime
          </p>
        </div>
        <div class="col-4 flex justify-content-center">
          <i class="pi pi-phone" style="font-size: 2rem"></i>
          <p class="text-base md:text-xl ml-3">
            24x7 Support
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="py-6 banner-surface-a">
    <div class="md:flex justify-content-between md:px-6 px-3 container-xl">
      <div class="md:w-5 md:p-4 md:pr-3 m-auto md:mr-0">
        <div>
          <h1 class="headings-text">Production</h1>
          <h1 class="pg-text">Plan and track the production process using TranZact to increase
            efficiency by eliminating downtime and cutting down cost.</h1>
          <ul class="my-5 list-none p-0 flex flex-column">
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Multi-Level Bill of Materials (BOM)</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">BOM Costing</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Work Order</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Production Order</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Line Rejection Tracking</span>
            </li>
            <li class="py-2">
              <p-avatar icon="pi pi-fw pi-check" styleClass="mr-2"
                [style]="{'background-color':'#63c695', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="line-height-3">Finished Goods Testing<br></span>
            </li>
          </ul>
        </div>
        <div class="text-center my-5">
          <button pButton pRipple type="button" label="Start Your Free Trial" (click)="showContactUsForm()"
            class="p-button p-button-xl p-button-rounded border-none"></button>
        </div>
      </div>
      <div class="md:w-6 p-4  pb-0 md:pl-1">
        <img src="../../../../../assets/demo/images/inventort production.webp.png" class="sm:mt-5 md:mt-0 w-full"
          alt="">
      </div>
    </div>
  </section>
</div>