<section>
  <div class="card">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex justify-content-between">
        <h5 class="my-auto">Add Transfer</h5>
        <button pButton pRipple type="submit" [loading]="submitted" [disabled]="!form?.valid || submitted"
          label="{{isNew ? 'Create' : 'Update'}}"></button>
      </div>
      <p-divider></p-divider>
      <div class="col-12">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6">
            <label for="date" class="block font-medium pb-2 required">Date</label>
            <p-calendar inputId="date" showIcon="true" [readonlyInput]="true" dateFormat="MM d, yy" [minDate]="today"
              formControlName="date"></p-calendar>
            <small class="p-error" *ngIf="(controls.date.touched || submitted) && controls.date.errors?.required">
              select date</small>
          </div>
          <div class="field col-12 md:col-6">
            <label for="product" class="block font-medium pb-2 required">Product</label>
            <input id="product" type="text" placeholder="Product" pInputText formControlName="product">
            <small class="p-error"
              *ngIf="(controls.product.touched || submitted) && controls.product.errors?.required">Enter
              product name</small>
            <small class="p-error" *ngIf="controls.product.touched && controls.product.errors?.minlength">Invalid
              product
              name</small>
          </div>
          <div class="field col-12 md:col-4">
            <label for="from_warehouse" class="block font-medium pb-2 required">From Warehouse</label>
            <p-dropdown [options]="warehouseList" optionLabel="name" optionValue="id" placeholder="Choose warehouse"
              [showClear]="true" (onChange)="handleWarehouseChange()" formControlName="from_warehouse_id">
            </p-dropdown>
            <small class="p-error"
              *ngIf="(controls.from_warehouse_id.touched || submitted) && controls.from_warehouse_id.errors?.required">
              Select warehouse</small>
          </div>
          <div class="field col-12 md:col-4">
            <label for="to_warehouse" class="block font-medium pb-2 required">To Warehouse</label>
            <p-dropdown [options]="toWarehouses" optionLabel="name" optionValue="id" placeholder="Choose warehouse"
              [showClear]="true" formControlName="to_warehouse_id">
            </p-dropdown>
            <small class="p-error"
              *ngIf="(controls.to_warehouse_id.touched || submitted) && controls.to_warehouse_id.errors?.required">
              Select warehouse</small>
          </div>
          <div class="field col-12 md:col-4">
            <label for="status" class="block font-medium pb-2 required">Status</label>
            <p-dropdown [options]="status" optionLabel="status" optionValue="id" placeholder="Choose status"
              [showClear]="true" formControlName="status_id">
            </p-dropdown>
            <small class="p-error"
              *ngIf="(controls.status_id.touched || submitted) && controls.status_id.errors?.required">
              Select status</small>
          </div>
        </div>
        <invoice-summary></invoice-summary>
        <payment-summary></payment-summary>
      </div>
    </form>
  </div>
</section>