<section class="py-6 px-5 md:px-8">
    <div class="container-xl">
        <div class="text-center pb-7">
            <span class="mb-2 text-3xl md:text-5xl">Pricing</span>
            <p class="text-2xl md:text-4xl ">Full-Service Management With Self-Service Pricing</p>
        </div>
        <div class="grid justify-content-between">
            <div class="col-12 lg:col-4 md:col-6 p-0 md:p-3 px-5">
                <div
                    class="p-3 flex flex-column border-2 border-transparent box-shadow pricing-card cursor-pointer border-round-xl">
                    <h3 class="text-center my-5">Starter</h3>
                    <div class="my-5 text-center">
                        <div>
                            <div class="flex justify-content-center">
                                <h1 class="f-thick mr-2">$29.99</h1>
                                <p>per month</p>
                            </div>
                            <div class="-mt-3 f-thick ">
                                <span>plus</span>
                                <span>$0.26/seg</span>
                            </div>
                        </div>
                        <button pButton pRipple label="Get Started"
                            class="block w-8 mx-auto mt-4 p-button-rounded border-none ml-3 line-height-2"></button>
                    </div>
                    <p-divider class="w-full "></p-divider>
                    <ul class="my-5 list-none p-0 flex flex-column">
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Up to 1 User</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Up to 1 Warehouse</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Copyrighting included</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Basic reporting</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Inventory size up to 100 items</span>
                        </li>
                         <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Data Storage Up to 50 MB</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">client Self-Service Portal<br></span>
                            <span class="ml-5"></span>
                        </li> 
                    </ul>
                </div>
            </div>
            <div class="col-12 lg:col-4 md:col-6 p-0 md:p-3 mt-4 md:mt-0 px-5">
                <div class="p-3 flex flex-column border-2 box-shadow pricing-card cursor-pointer border-round-xl">
                    <div class="items-center flex justify-content-center" style="margin-top:-31px">
                        <div class="justify-content-center border-2 banner-surface-c border-round-3xl px-5 py-2">
                            popular
                        </div>
                    </div>
                    <h3 class="text-center my-5">Startup</h3>
                    <div class="my-5 text-center">
                        <div>
                            <div class="flex justify-content-center">
                                <h1 class="f-thick mr-2">$199</h1>
                                <p>per month</p>
                            </div>
                            <div class="-mt-3 f-thick ">
                                <span>plus</span>
                                <span>$0.24/seg</span>
                            </div>
                        </div>
                        <button pButton pRipple label="Get Started"
                            class="block w-9 mx-auto mt-4 p-button-rounded border-none ml-3 line-height-2"></button>
                    </div>
                    <p-divider class="w-full"></p-divider>
                    <ul class="m-li list-none p-0 flex flex-column">
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Up to 100 User</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Up to 10 Warehouse(Expandable)</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Copyrighting included</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-2">Generate personal recommendations</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Inventory size up to 1000 items</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-2">Data Storage Up to 500 MB</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-2">Expanded customer insights <br></span>
                            <span class="ml-5"> including first-party data</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 lg:col-4 md:col-6 p-0 md:p-3 mt-4 md:mt-0 px-5">
                <div
                    class="p-3 flex flex-column border-2 border-transparent box-shadow pricing-card cursor-pointer border-round-xl">
                    <h3 class="text-center my-5">Enterprise</h3>
                    <div class="my-5 text-center">
                        <div>
                            <div class="flex justify-content-center">
                                <h1 class="f-thick mr-2">$499</h1>
                                <p>per month</p>
                            </div>
                            <div class="-mt-3 f-thick ">
                                <span>plus</span>
                                <span>$0.02/seg</span>
                            </div>
                        </div>
                        <button pButton pRipple label="Get Started"
                            class="block  w-9 mx-auto mt-4 p-button-rounded border-none ml-3 line-height-2"></button>
                    </div>
                    <p-divider class="w-full "></p-divider>
                    <ul class="my-5 list-none p-0 flex flex-column">
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Up to 999 User</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Up to 100 Warehouse (Expandable)</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Copyrighting and retargeting included</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Generate personal recommendations</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Inventory size up to 10000 items</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Data Storage Up to 5000 MB</span>
                        </li>
                        <li class="py-2">
                            <i class="pi pi-fw pi-check mr-2"></i>
                            <span class="line-height-3">Custom data reports + trend forecasting<br>
                            </span>
                            <span class="ml-5"> including first-party data</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 px-5 md:px-8 banner-surface-a">
    <div class="container-xl">
        <h3 class="text-center">Need a customized plan?</h3>
        <div class="text-center mt-4">
            <button pButton pRipple type="button" label="Get in Touch"
                class="p-button-rounded border-none px-8"></button>
        </div>
    </div>
</section>
<section class="py-6 px-4 md:px-8 banner-surface-c">
    <div class="container-xl">
    </div>
</section>
<section class="py-6 px-5 md:px-8">
    <div class="container-xl">
        <h1 class="text-center text-4xl md:text-5xl py-4 f-thick">Frequently Asked Questions</h1>
        <p-accordion [multiple]="true">
            <p-accordionTab *ngFor="let question of questions;">
                <ng-template pTemplate="header">
                    <h4 class="m-0">{{question.header}}</h4>
                </ng-template>
                <p class="text-800">{{question.description}}</p>
            </p-accordionTab>
        </p-accordion>
    </div>
</section>
<section class="py-6 px-5 md:px-8 banner-surface-a">
    <div class="container-xl">
        <h3 class="text-center">Have questions about how Hwims can help your business?
        </h3>
        <div class="text-center mt-4">
            <button pButton pRipple type="button" label="Get in Touch"
                class="p-button-rounded border-none px-8"></button>
        </div>
    </div>
</section>