<section class="py-6">
    <div class="flex container-xl md:w-9 w-full align-items-center flex-wrap shadow">
    <div class="col-12 md:col-6 p-6">
        <div>
            <label for="name" class="block font-medium pb-2">Name</label>
            <input id="name" type="text" placeholder="Name" pInputText class="w-full">
        </div>
        <div class="py-3">
            <label for="email" class="block font-medium pb-2">Email</label>
            <input id="email" type="email" placeholder="Email address" pInputText class="w-full">
        </div>
        <div>
            <label for="phone" class="block font-medium pb-2">Phone</label>
            <input id="phone" type="tel" placeholder="Phone number" pInputText class="w-full">
        </div>
        <div class="py-3">
        <label for="Message" class="block font-medium pb-2">Message *</label>
        <textarea pInputTextarea placeholder="Your Message" autoResize rows="3" cols="30" class="w-full"></textarea>
    </div>
            <button pButton pRipple type="button" label="submit" class="w-3"></button>
    </div>
    <div class=" col-12 md:col-6 p-6">
        <h1 class="mb-6">Contact Support</h1>
        <p class="mb-6 text-2xl">Contact Us
            We're always here to help.</p>
            <a><h4 class="mb-6">View Address on Google Maps <i class="pi pi-arrow-right"></i></h4>
            </a>
            <div class="py-3">
                <i class="pi pi-phone text-3xl"></i>
                <span class="ml-3 text-2xl">+12345666</span>
           </div>
            <div class="py-3">
                <i class="pi pi-google text-3xl"></i>
                <span class="ml-3 text-2xl">@gmail.com</span>
            </div>
            <div class="py-3">
                <i class="pi pi-twitter text-3xl"></i>
                <span class="ml-3 text-2xl">@twitter.com</span>
            </div>
            <div class="py-3 flex align-items-center">
                <i class="pi pi-map-marker text-3xl"></i>
                <p class="ml-3 text-2xl">@twitter.com</p>
            </div>
    </div>
</div>
</section>
