 <div class="w-9 xl:w-8 m-auto relative">
    <h1 class="line-height-1 text-5xl font-bold">
        Welcome to <span>HWIMS</span>
    </h1>
    <p class="opacity-50 text-xl line-height-3 ml-2 my-3 xl:my-5">
        <span>At Hawker Warehouse Management System.</span> We provide a best solution for warehousing  to our consumers.
    </p>
    <!-- <p-avatarGroup styleClass="mb-3">
        <p-avatar image="assets/demo/images/avatar/amyelsner.png" size="large" shape="circle">
        </p-avatar>
        <p-avatar image="assets/demo/images/avatar/asiyajavayant.png" size="large" shape="circle">
        </p-avatar>
        <p-avatar image="assets/demo/images/avatar/onyamalimba.png" size="large" shape="circle">
        </p-avatar>
        <p-avatar image="assets/demo/images/avatar/ionibowcher.png" size="large" shape="circle">
        </p-avatar>
        <p-avatar image="assets/demo/images/avatar/xuxuefeng.png" size="large" shape="circle">
        </p-avatar>
        <p-avatar label="+2" shape="circle" size="large" [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}">
        </p-avatar>
        <small class="opacity-50 ml-2">
            More than 17k people joined us, it's your turn
        </small>
    </p-avatarGroup> -->
</div>